<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile-1.2.0.css" />

		<link rel="stylesheet" href="{{ STATIC_URL }}themes/default.css" />
	</head>
	<body>
		<!-- Initial blank page to transition from -->
		<div data-role="page"></div>
		<div id="default-contents"></div><!-- /page -->
		<script type="text/template" id="post-list-template">
			<div data-role="header">
				<h1 id="main-title">Posts</h1>
			</div><!-- /header -->

			<div data-role="content">	
				<ul data-role="listview"></ul>	
			</div><!-- /content -->
		</script>


		<script type="text/template" id="post-list-item-template">
			<a href="#"><%= title %></a>
		</script>

		<div id="post-edit"></div>
		<script type="text/template" id="post-edit-template">
			<div data-role="header">
				<h1 id="main-title">Edit Post</h1>
			</div><!-- /header -->
			<div data-role="content" id="contents">	
				<form>
					<div data-role="fieldcontain">
						<label for="title" class="ui-hidden-accessible">Title:</label>
						<input type="text" name="title" id="post-edit-title" value="<%= title %>" placeholder="Title" />
					</div>

					<div data-role="fieldcontain">
						<label for="slug" class="ui-hidden-accessible">Slug:</label>
						<input type="text" name="slug" id="post-edit-slug" value="<%= slug %>" placeholder="Slug" />
					</div>

					<div data-role="fieldcontain">
						<label for="date" class="ui-hidden-accessible">Date:</label>
						<input type="date" name="date" id="post-edit-date" value="<%= date %>" placeholder="Date" />
					</div>

					<div data-role="fieldcontain">
						<label for="body" class="ui-hidden-accessible">Body:</label>
						<textarea name="body"><%= body %></textarea>
					</div>

					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup">
							<legend>Select tags</legend>
							<% for(var tag in all_tags){ %>
							<label for="tags">
								<input type="checkbox" id="tags1" name="tags" value="<%= all_tags[tag] %>" class="custom" />
								<%= all_tags[tag] %>
							</label>
							<% } %>
							<label for="new-tag">New tag
								<input type="text" id="new-tag" name="new_tag" value="" />
							</label>
						</fieldset>
					</div>

				</form>
			</div>
		</script>

		<script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.mobile-1.2.0.min.js"></script>
		<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
		<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
		<script src="{{ STATIC_URL }}js/backbone.marionette.min.js"></script>
		<script src="{{ STATIC_URL }}js/json2.js"></script>
		<script src="{{ STATIC_URL }}js/app.js"></script>
		<script src="{{ STATIC_URL }}js/blogAdmin.js"></script>
		<script>
        $(document).bind("mobileinit", function() {
            $.mobile.pushStateEnabled = false;
            $.mobile.ajaxEnabled = false;
            $.mobile.hashListeningEnabled = false;
	    });
	    </script>
		<script>

		$(document).ready(function(){
			var postdata = new Posts([
				new Post({ slug: 'foo', date: '2010-09-21', title: 'title 1', body: 'content blah yes', tags:['tag1','tag2'] }),
				new Post({ slug: 'foobar', date: '2010-09-22', title: 'title 2', body: 'some content with <br /> html tags', tags:['tag1','tag2'] })
			]);
			var all_tags = Array('tag1', 'tag2', 'tag3', 'tag4', 'tag5');

			//console.log(posts);

			MyApp.start({posts: postdata, all_tags: all_tags});


		});

		</script>
	</body>
</html>